Product_Client_App/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64998/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64998/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64998/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Product_Service" />
      <xsd:import schemaLocation="http://localhost:64998/Service1.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProducts" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddSupplierRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSupplierRecord" />
  </wsdl:message>
  <wsdl:message name="IService1_AddSupplierRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSupplierRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSupplierRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierRecords" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSupplierRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecords" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchSupplierRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchSupplierRecord" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchSupplierRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchSupplierRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateSupplierDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplierDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateSupplierDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplierDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddProduct" message="tns:IService1_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddProductResponse" message="tns:IService1_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProducts" message="tns:IService1_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProductsResponse" message="tns:IService1_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteProducts" message="tns:IService1_DeleteProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteProductsResponse" message="tns:IService1_DeleteProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchProduct" message="tns:IService1_SearchProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchProductResponse" message="tns:IService1_SearchProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateProduct" message="tns:IService1_UpdateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateProductResponse" message="tns:IService1_UpdateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSupplierRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddSupplierRecord" message="tns:IService1_AddSupplierRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddSupplierRecordResponse" message="tns:IService1_AddSupplierRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupplierRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSupplierRecords" message="tns:IService1_GetSupplierRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSupplierRecordsResponse" message="tns:IService1_GetSupplierRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteRecords" message="tns:IService1_DeleteRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteRecordsResponse" message="tns:IService1_DeleteRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchSupplierRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchSupplierRecord" message="tns:IService1_SearchSupplierRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchSupplierRecordResponse" message="tns:IService1_SearchSupplierRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplierDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateSupplierDetails" message="tns:IService1_UpdateSupplierDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateSupplierDetailsResponse" message="tns:IService1_UpdateSupplierDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProducts">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSupplierRecord">
      <soap:operation soapAction="http://tempuri.org/IService1/AddSupplierRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierRecords">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSupplierRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecords">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSupplierRecord">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchSupplierRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplierDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateSupplierDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:64998/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>